<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.ContestMapper">
	
	<insert id="enroll" parameterType="Contest">
	  insert into contest_info 
	  values(contest_info_SEQ.NEXTVAL ,#{bno_idx}, #{con_title} ,#{con_prize}, #{con_period}, #{con_content}, #{con_category},
	  sysdate,#{con_file},null)
	</insert>
	
	<select id="ShowContest" resultType="Contest">
		select con_title,con_prize,con_period,con_content,con_category,con_file
		from contest_info
	</select>
	
	<select id="WinnerContest" resultType="Contest">
		select contest_winner
		from contest_info
		where contest_winner=#{contest_winner}
	</select>

	<select id="ActiveContests" resultType="Contest">
  		SELECT *
 		FROM contest_info
  		WHERE TO_DATE(SUBSTR(con_period, INSTR(con_period, '~') + 1), 'YYYY.MM.DD') >= SYSDATE
	</select>
	
	<select id="EndedContests" resultType="Contest">
	  <![CDATA[
	    SELECT *
	    FROM contest_info
	    WHERE TO_DATE(SUBSTR(con_period, INSTR(con_period, '~') + 1), 'YYYY.MM.DD') < SYSDATE
	  ]]>
	</select>
</mapper>