<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.ContestMapper">

	<insert id="enroll" parameterType="Contest" >
	    INSERT INTO contest_info (con_idx, bno_idx, con_title, con_prize, con_period, con_content, con_category, created_at, con_file)
	    VALUES (CONTEST_INFO_SEQ.NEXTVAL,#{bno_idx}, #{con_title}, #{con_prize}, #{con_period}, #{con_content}, #{con_category}, SYSDATE, #{con_file})
	</insert>

	
	<select id="ShowContest" resultType="Contest">
		select con_idx,con_title,con_prize,con_period,con_content,con_category,con_file
		from contest_info
	</select>
	
	<select id="WinnerContest" resultType="Contest">
		select contest_winner
		from contest_info
		where contest_winner=#{contest_winner}
	</select>

	<select id="ActiveContests" resultType="Contest">
  		SELECT *
 		FROM contest_info
  		WHERE TO_DATE(SUBSTR(con_period, INSTR(con_period, '~') + 1), 'YYYY.MM.DD') >= SYSDATE
	</select>
	
	<select id="EndedContests" resultType="Contest">
	  <![CDATA[
	    SELECT *
	    FROM contest_info
	    WHERE TO_DATE(SUBSTR(con_period, INSTR(con_period, '~') + 1), 'YYYY.MM.DD') < SYSDATE
	  ]]>
	</select>

	<insert id="apply" parameterType="com.smhrd.model.ContestApplication" >
	    INSERT INTO APPLYING_CONTEST_INFO 
	    VALUES (APPLYING_CONTEST_INFO_SEQ.NEXTVAL,#{con_idx}, #{u_id},sysdate,#{filename})
	</insert>
	

</mapper>