<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.smhrd.model.User" alias="User"/>
		<typeAlias type="com.smhrd.model.Profil" alias="Profil"/>
		<typeAlias type="com.smhrd.model.Portfolio" alias="Portfolio"/>
		<typeAlias type="com.smhrd.model.Company" alias="Company"/>
		<typeAlias type="com.smhrd.model.Contest" alias="Contest"/>
		<typeAlias type="com.smhrd.model.Community" alias="Community"/>
		<typeAlias type="com.smhrd.model.Comment" alias="Comment"/>
	</typeAliases>
	


	<!-- 환경설정(계정, driver, url...) -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@project-db-campus.smhrd.com:1524:xe" />
				<property name="username" value="campus_24IS_BIG3_P2_1" />
				<property name="password" value="smhrd1" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- SQL문들 정의해주는 mapper.xml을 계속해서 만들건데 어디에 있는지 경로를 지정해주는 태그 -->
	<mappers>
		<mapper resource="com/smhrd/db/UserMapper.xml" />
		<mapper resource="com/smhrd/db/PortfolioMapper.xml" />
		<mapper resource="com/smhrd/db/CompanyMapper.xml" />
		<mapper resource="com/smhrd/db/ContestMapper.xml" />
		<mapper resource="com/smhrd/db/CommunityMapper.xml" />
	</mappers>
	
	
	
	
</configuration>