<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smhrd.db.PortfolioMapper">
	
	
	<insert id="enroll" parameterType="Portfolio">
	  insert into portfolio_info 
	  values(portfolio_info_SEQ.NEXTVAL ,#{port_title}, #{port_range} ,#{u_id}, #{port_category}, #{port_field}, #{port_tech}, #{port_period}, #{port_url}, #{port_content},
	  #{port_file},sysdate)
	  
	</insert>

	<select id="portfolioList" parameterType="User" resultType="Portfolio">
		select * from portfolio_info where u_id=#{u_id}
	</select>
	<select id="portfolioList1" parameterType="String" resultType="Portfolio">
		select * from portfolio_info where u_id=#{u_id}
	</select>
</mapper>