<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.UserMapper">
  
  <insert id="join" parameterType="User">
  	insert into user_info values(#{u_id}, #{u_pw} , #{u_name}, #{u_tel},#{join_date}, #{u_region}, #{u_email})
  </insert>
  
  <select id="IDCheck" parameterType="String" resultType="String">
  	select u_id from user_info where u_id=#{u_id}
  </select>
  
  <select id="login" parameterType="User" resultType="User">
  	select * from user_info where u_id = #{u_id} and u_pw = #{u_pw} 
  </select>
  
   <insert id="profil" parameterType="User">
  	insert into profile_info values(#{u_id}, #{profile_tech}, #{profile_period}, #{profile_wage},#{profile_career},
  	#{profile_img},#{profile_name},#{profile_tel},#{profile_region},#{profile_license}, #{profile_award},#{profile_residence})
  </insert>
  	<select id="userprofil" parameterType="Profil" resultType="Profil">
		select * from profile_info where u_id = #{u_id}
	</select>
  
</mapper>