/* Reset CSS */

body {
    font-family: Arial, sans-serif; /* 글꼴 추가 */
    color: #333; /* 기본 텍스트 색상 추가 */
}

#contest-write {
    border-radius: 4px;
    font-size: 15px;
    line-height: 50px;
    position: relative;
    width: 15%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    text-align: center;
    background-color: rgb(38, 86, 246);
    color: white;
    margin-bottom: 5%;
}

#contest {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    max-width: 90%;
    min-width: 1000px;
    margin: 0;
}

#area {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.side_bar {
    width: 192px;
    margin-top: 24px;
    min-width: 20%;
}
.state_title{
	padding: 10px;
	border: 2px solid #f5f5f5;
}
.prize_title{
	padding: 10px;
	border: 2px solid #f5f5f5;
}
.sidetitle {
    font-weight: bold;
    color: #102035;
    margin-bottom: 10px;
}

.list-bar {
    font-size: 16px;
    color: #8e94a0;
    display: flex;
}

.description > label {
    cursor: pointer;
    margin-right: 8px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.radio_label {
    font-size: 14px;
    color: #404a5c;
    margin-top: -2px;
}

.list-wrapper {
    flex: 1;
    margin-left: 64px;
    max-width: 90%;
    min-width: 90%;
}

.contest-box ul {
    list-style: none;
    text-align: center;
}

a.contest-list {
    display: flex;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.16);
}

.thumbnail img {
    width: 200px;
    height: 200px;
    min-width: 30%;
}

.contest-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contest-info > div {
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    overflow: hidden;         /* 넘치는 내용 숨기기 */
    white-space: nowrap;      /* 텍스트를 한 줄로 유지 */
    text-overflow: ellipsis;  /* 넘치는 텍스트를 '...'로 표시 */
    width: 90%;
}


.prize-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.prize-info>li {
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    overflow: hidden;         /* 넘치는 내용 숨기기 */
    white-space: nowrap;      /* 텍스트를 한 줄로 유지 */
    text-overflow: ellipsis;  /* 넘치는 텍스트를 '...'로 표시 */
    width: 90%;
}

div.pagination {
    
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination i {
	
	font-size: 1.2rem;
	padding: .5rem 1rem;
	cursor: pointer;
}

ol#numbers {
    display: flex;
    flex-direction: row;  /* 요소들을 수평 방향으로 나열 */
    list-style-type: none; /* 리스트 항목 앞의 기호(점) 제거 */
    padding: 0;  /* 패딩 초기화 */
}


#numbers li a {
   
    padding: .5rem 1rem;
    text-decoration: none;
    opacity: .7;
    font-size: 1.2rem;
}

#numbers li a:hover, #numbers li a:focus {
    opacity: 1
}

#numbers li a:active {
    opacity: 1;
    background: rgb(38, 86, 246);
    color: #fff;
}
.pick_banner {
    width: 40%;
    /* min-width: 200px; */
    /* height: auto; */
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    background-color: #bec3dd;
    border-radius: 8px;
}
.pick_banner .wrap {
    margin-top: 12px;
    max-width: 1440px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 40px;
    -webkit-box-align: center;
    align-items: center;
}
.pick_banner .wrap .banner_text {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.5px;
    font-weight: 700;
    text-align: left;
    
    height: 100%;
}
.pick_banner .wrap .banner_text .sub {
    margin-top: 4px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 500;
}
.pick_banner .wrap .banner_img {
    width: 10% !important;
    max-height: auto !important;
    display: block !important;
    object-fit: cover !important;
    position: relative;
    margin-left: auto;
}
.banner_button {
    min-width: 160px;
    margin-left: 16px; 
}
