        #logo_menu{
            height: 200px;
            
            display: flex;
            align-items: center;

        }
        #logo_img{
            width: 350px;
            /* margin: 0 19px 0 0; */
            margin-right: 20px;
            display: flex;
        }
        #logo_img img {
            max-width: 100%;
            max-height: 100%;
        }
        #search_box{
            display: center;
        }
        .menu_cont {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
        #menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        #menu li {
            display: inline;
            margin-left: 20px;
            font-size: 18px;
            font-weight: 700;
        }



        #search_box{
            display: flex;
        }
        .wrap{
            max-width: 1440px;
            padding: 0px 80px;
            margin: 0px auto;
        }
        a {
        color: inherit;
        cursor: pointer;
        text-decoration: none;
        }
        body {
        font: 12px / 18px "Noto Sans KR", NanumGothic, "나눔고딕",
          "Nanum Gothic", "맑은 고딕", "Malgun Gothic", Dotum;
        -webkit-font-smoothing: antialiased;
        color: #101c33;
        text-align: left;
      }
     

      .title {
        font-weight: 900;
        margin-bottom: 16px;
        font-size: 22px;
        line-height: 34px;
        letter-spacing: -0.5px;
      }
      .wrap {
        max-width: 1440px;
        padding: 0px 80px;
        margin: 0px auto;
      }
      .category-list {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
      }
      .category-item {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
      }
      .category--item {
        border-color: rgb(38, 86, 246);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background-color: rgb(249, 250, 251);
        border-radius: 16px;
        overflow: hidden;
        border: 1px solid rgb(233, 235, 237);
      }

      .category-name {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.25px;
        font-weight: 500;
        text-align: center;
        word-break: keep-all;
      }
      .list-header{
        max-width: 1440px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
      }

      .bn{
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        z-index: 1;
        background-color: rgb(26, 154, 97);
        display: flex !important;
      }
      .bn_inner1{
        max-width: 1440px;
        width: 100%;
        height: 345px;
        padding: 0px 80px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
      }
      .bn_inner2{
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        flex-direction: column;
      }

      .bn_text{
        margin: 24px 0px;
    
        display: block;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: -0.5px;
        font-weight: 700;
        text-align: left;
      }
      
      .bn_img{
        width: 580px;
        height: 320px;
        border-radius: 8px;
      }
      .slider {
        position: relative;
        
        width: 100%;
        height: 345px;
        /* overflow: hidden; */
    }

    .slide {
        position: absolute;
        width: 100%;
        opacity: 0;
        transition: opacity 1s;
    }

    .active-slide {
        opacity: 1;
    }
    #search_box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid lightgray;
            border-radius: 20px;
            width: 500px;
            height: 40px;
            margin: 20px auto;
            padding: 0 14px;
        }

      
        #search_box>input {
            width: 350px;
            border: 0;
            outline: 0;
        }

        /* 글자색:회색 */
        #search_box .fa-solid {
            color: gray;
        }
		
		.swiper {
		width: 300px;
		height: 300px;
		/* position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -150px;
		margin-top: -150px; */
		
		}
		
		.swiper-slide {
		background-position: center;
		background-size: cover;
		}
		
		.swiper-slide img {
		display: block;
		width: 100%;
		}
		
		.slide-text{
		  padding-top: 20px;
		  display: flex;
		  justify-content: space-between;
		}
		
		.pick_banner {
    width: 40%;
    /* min-width: 200px; */
    /* height: auto; */
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    background-color: #bec3dd;
    border-radius: 8px;
}
.pick_banner .wrap {
    margin-top: 12px;
    max-width: 1440px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 40px;
    -webkit-box-align: center;
    align-items: center;
}
.pick_banner .wrap .banner_text {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.5px;
    font-weight: 700;
    text-align: left;
    
    height: 100%;
}
.pick_banner .wrap .banner_text .sub {
    margin-top: 4px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 500;
}
.pick_banner .wrap .banner_img {
    width: 10% !important;
    max-height: auto !important;
    display: block !important;
    object-fit: cover !important;
    position: relative;
    margin-left: auto;
}
.banner_button {
    min-width: 160px;
    margin-left: 16px; 
}
