<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinService</servlet-name>
  	<display-name>JoinService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutService</servlet-name>
  	<display-name>LogoutService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfilService</servlet-name>
  	<display-name>ProfilService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ProfilService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>C_LoginService</servlet-name>
  	<display-name>C_LoginService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.C_LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>C_JoinService</servlet-name>
  	<display-name>C_JoinService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.C_JoinService</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>JoinService</servlet-name>
  	<url-pattern>/JoinService1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutService</servlet-name>
  	<url-pattern>/LogoutService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfilService</servlet-name>
  	<url-pattern>/ProfilService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>C_LoginService</servlet-name>
  	<url-pattern>/C_LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>C_JoinService</servlet-name>
  	<url-pattern>/C_JoinService</url-pattern>
  </servlet-mapping>


</web-app>
